In [1]:
import pandas as pd
my_series = pd.Series([5,6,7,8,9,10])
my_series

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [2]:
my_series.index

RangeIndex(start=0, stop=6, step=1)

In [3]:
my_series.values

array([ 5,  6,  7,  8,  9, 10], dtype=int64)

In [4]:
my_series[4]

9

In [6]:
my_series2 = pd.Series([5,6,7,8,9,10], index = ['a','b','c', 'd', 'e', 'f'])
my_series2['f']

10

In [7]:
my_series2[['a', 'b', 'f']]

a     5
b     6
f    10
dtype: int64

In [8]:
my_series2[['a', 'b', 'f']] = 0
my_series2

a    0
b    0
c    7
d    8
e    9
f    0
dtype: int64

In [9]:
my_series2[my_series2 > 0]

c    7
d    8
e    9
dtype: int64

In [10]:
my_series2[my_series2 >0]*2

c    14
d    16
e    18
dtype: int64

In [11]:
my_series3 = pd.Series({'a':5, 'b':6, 'c':7, 'd':8})
my_series3

a    5
b    6
c    7
d    8
dtype: int64

In [13]:
my_series3.name = 'numbers'
my_series3.index.name = 'letters'
my_series3

letters
a    5
b    6
c    7
d    8
Name: numbers, dtype: int64

In [14]:
my_series3.index = [ 'A', 'B', 'C', 'D']
my_series3

A    5
B    6
C    7
D    8
Name: numbers, dtype: int64

In [19]:
df = pd.DataFrame({
    'country':['Kaz','Rus', 'Bel', 'Ukr'],
    'population': [17.04, 143.5, 9.5, 45.5],
    'square': [2724902, 17125191, 207600, 603628]
    })
df

  country  population    square
0     Kaz       17.04   2724902
1     Rus      143.50  17125191
2     Bel        9.50    207600
3     Ukr       45.50    603628

In [20]:
df['country']

0    Kaz
1    Rus
2    Bel
3    Ukr
Name: country, dtype: object

In [21]:
df.columns

Index(['country', 'population', 'square'], dtype='object')

In [22]:
df.index

RangeIndex(start=0, stop=4, step=1)